<p>компонент 4</p>
<form [formGroup]="form">
  <input type="text" formControlName="name" />
  <br />
  <input type="number" formControlName="age" />
  <br />
  <input type="email" formControlName="email" />
  <br />
  <input type="date" formControlName="date" />
  <br />
  <div formArrayName="phones">
    <input
      type="text"
      *ngFor="let phone of form.get('phones')['controls']; let id = index"
      [formControlName]="id"
    />
  </div>
<button (click)="add()" >Add element</button>
</form>

<pre>{{ form.value | json }}</pre>
